html {
  background-color: crimson;
}

.pokeContainer {
  border: 1px solid black;
  width: 300px;
  margin: 5px;
  background-color: rgb(255, 223, 43);
}

.bigContainer {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}


.optionsContainer {
  display: flex;
  justify-content: end;
  color: aquamarine;
}

.sortOrder {
  border-radius: 5px;
}

.filterTypes {
  border-radius: 5px;
}

input {
  height: 20px;
  border-radius: 5px;
  margin-top: 10px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". .";
}

img {
  width: 40%;
}