

.pokeContainer {
  border: 1px solid black;
  width: 300px;
  margin: 5px;
}

.bigContainer {
  
  display: flex;
  flex-wrap: wrap;
}


.optionsContainer {
  display: flex;
  justify-content: end;
  color: aquamarine;
}


input {
  height: 100px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". .";
}

img {
  width: 40%;
}